@{
    ViewData["Title"] = "Admin Dashboard";
}

<h2>@ViewData["Title"]</h2>

<div>
    <a asp-action="ConfigureServicePoints">Configure Service Points</a>
</div>
<div>
    <a asp-action="ConfigureProviders">Configure Providers</a>
</div>
<div>
    <a asp-action="GenerateReport">Generate Analytical Report</a>
</div>
